{% extends 'base.html' %}
{% load static %}
{% load upload_tags %}
{% load i18n %}
{% block content %}
    <style>
        .ui-input-text {
            margin: 0 0;
        }
        .row{
            margin-top: 5px;
            margin-left: 0;
        }
        button.ui-btn {
            width: inherit;
        }

        .ui-btn {
            display: inline-block;
        }

        .ui-btn.btn-sm {
            font-size: 12px;
            padding-top: 5px;
            padding-right: 10px;
            padding-bottom: 5px;
            padding-left: 10px;
            margin: 0;
        }
        .ui-btn.btn-md {
            font-size: 14px;
            padding-top: 7px;
            padding-right: 12px;
            padding-bottom: 7px;
            padding-left: 12px;
            margin: 0;
        }
        .gly-spin {
      -webkit-animation: spin 2s infinite linear;
      -moz-animation: spin 2s infinite linear;
      -o-animation: spin 2s infinite linear;
      animation: spin 2s infinite linear;
    }
    @-moz-keyframes spin {
      0% {
        -moz-transform: rotate(0deg);
      }
      100% {
        -moz-transform: rotate(359deg);
      }
    }
    @-webkit-keyframes spin {
      0% {
        -webkit-transform: rotate(0deg);
      }
      100% {
        -webkit-transform: rotate(359deg);
      }
    }
    @-o-keyframes spin {
      0% {
        -o-transform: rotate(0deg);
      }
      100% {
        -o-transform: rotate(359deg);
      }
    }
    @keyframes spin {
      0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
      }
      100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
      }
    }
    .flag-icon {
      background-size: contain;
      background-position: 50%;
      background-repeat: no-repeat;
      position: relative;
      display: inline-block;
      width: 1.33333333em;
      line-height: 1em;
    }
    .flag-icon:before {
      content: "\00a0";
    }
    .flag-icon-ru{
        background-image: url({% static 'noteshrinker/img/ru.svg' %});
    }
    .flag-icon-en{
        background-image: url({% static 'noteshrinker/img/us.svg' %});
    }
    </style>
    <div class="container">
        <h1>NoteShrinker</h1>

        {% get_available_languages as languages %}

        {% trans "Переключить язык:" %}
        <div class="row">
        {% for lang_code, lang_name in languages %}
            {% language lang_code %}
            <span class="flag-icon flag-icon-{{ lang_code }}"></span><a href="/{{ lang_code }}/" class="btn btn-sm">{{ lang_name }}</a>
            {% endlanguage %}
        {% endfor %}
        </div>

        <h2 class="lead">{% trans "Простое решение для удобства работы с заметками, лекциями, записками и рабочими документами" %}</h2>
        <br>
        <blockquote>
            <p>{% trans "Добавьте файлы, нажмите на кнопку <strong>Преобразовать</strong> и загрузите свои изображения в PDF или в сжатых PNG по отдельности." %}</p>
        </blockquote>
        <br>

        <!-- The fileinput-button span is used to style the file input field as button -->
        <div class="col-md-6" id="first-col">
            <form id="fileupload" method="post" action="." enctype="multipart/form-data">{% csrf_token %}

                <div class="row fileupload-buttonbar">
                    <!-- The fileinput-button span is used to style the file input field as button -->
                    <span class="btn btn-success fileinput-button">
                        <i class="glyphicon glyphicon-plus"></i>
                        <span>{% trans "1. Добавить файлы" %}</span>
                        <input type="file" name="file" multiple>
                    </span>
                    <span class="btn btn-primary" id="fileshrink-button" onclick="send_and_shrink()">
                        <i id="fileshrink-spinner" style="display: none;" class="glyphicon glyphicon-repeat gly-spin"></i>
                            {% trans "2. Преобразовать" %}
                    </span>
                    <div class="row">
                        <a class="btn btn-warning disabled" id="download-pdf-button" target="_blank" style="color:#fff">
                            {% trans "3. Скачать PDF" %}
                        </a>
                        <a class="btn btn-warning disabled" id="download-zip-button" target="_blank" style="color:#fff">
                            {% trans "3. Скачать изображения в ZIP архиве" %}
                        </a>
                    </div>

                    <!-- The fileupload-buttonbar contains buttons to add/delete files and start/cancel the upload -->
                    <button type="submit" class="btn btn-primary start btn-md">
                        <i class="glyphicon glyphicon-upload"></i>
                        <span>{% trans "Загрузить все" %}</span>
                    </button>
                    <button type="reset" class="btn btn-warning cancel btn-sm">
                        <i class="glyphicon glyphicon-ban-circle"></i>
                        <span>{% trans "Отменить загрузку" %}</span>
                    </button>
                    <button type="button" class="btn btn-danger delete btn-sm" id="clear-all-button">
                        <i class="glyphicon glyphicon-trash"></i>
                        <span>{% trans "Удалить выбранные" %}</span>
                    </button>
                    <!-- The loading indicator is shown during file processing -->
                    <span class="fileupload-loading"></span>
                    <!-- The global progress information -->
                    <div class="fileupload-progress fade">
                        <!-- The global progress bar -->
                        <div class="progress progress-striped active" role="progressbar" aria-valuemin="0"
                             aria-valuemax="100">
                            <div class="progress-bar progress-bar-success" style="width:0%;"></div>
                        </div>
                        <!-- The extended global progress information -->
                        <div class="progress-extended">&nbsp;</div>
                    </div>
                </div>
                <div class="row">

                </div>
                <!-- The table listing the files available for upload/download -->
                <table role="presentation" class="table table-striped">
                    <tbody class="files"></tbody>
                </table>
            </form>
        </div>
        <style>

        </style>
        <div class="col-md-offset-2 col-md-4">
            <h2>{% trans " Настройки " %}</h2>
            <div class="row">
                <label for="base-name">{% trans "Название картинок" %}</label>
                <input type="text" id="base-name" value="{% trans 'картинка' %}">
            </div>
            <div class="row">
                <label for="pdf-name">{% trans "Название PDF" %}</label>
                <div class="input-group">
                    <input id="pdf-name" type="text" value="{% trans 'документы' %}" aria-describedby="pdf-appendix">
                    <span class="input-group-addon" id="pdf-appendix">.pdf</span>
                </div>
            </div>
            <div class="row">

                <label for="colors-amount">{% trans "Цветов на выход" %}</label>
                <input type="range" class="custom" id="colors-amount" min="1" max="20" value="8"/>
            </div>
            <div class="row">
                <label for="pixel-amount">{% trans "Пикселей учитывать, в %" %}</label>
                <input type="range" id="pixel-amount" min="1" max="30" value="5"/>
            </div>
            <div class="row">
                <label for="sat-threshold-amount">{% trans "Насыщенность фона" %}</label>
                <input type="range" id="sat-threshold-amount" min="0" max="1" step="0.1" value="0.2"
                />
            </div>
            <div class="row">
                <label for="val-threshold-amount">{% trans "Пороговое значение фона" %}</label>
                <input type="range" id="val-threshold-amount" min="0" max="1" step="0.1" value="0.25"
                />
            </div>
            <div class="row">
                <input type="checkbox" id="use-one-palette"/>
                <label for="use-one-palette">{% trans "Единая палитра цветов" %}</label>

            </div>
            <div class="row">
                <input type="checkbox" id="sort-numerically" checked/>
                <label for="sort-numerically">{% trans "Оставить порядок следования" %}</label>

            </div>
            <div class="row">
                <input type="checkbox" id="white-background"/>
                <label for="white-background">{% trans "Белый фон" %}</label>

            </div>


        </div>

        <div class="col-xs-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">{% trans "Примечания" %}</h3>
                </div>
                <div class="panel-body">
                    <ul>
                        {% blocktrans %}
                            <li>Максимальный размер изображения - <strong>50 Мб</strong>.</li>
                        <li>Для загрузки доступны только файлы изображений (<strong>JPG, GIF, PNG</strong>).</li>
                        <li>Вы можете <strong>перетащить</strong> файлы прямо в окно браузера (смотрите документацию по
                            <a href="https://github.com/blueimp/jQuery-File-Upload/wiki/Browser-support">Поддержке
                                браузеров</a>).
                        </li>
                        <li>Этот проект сделан на основе <strong>открытого исходного кода (open source) </strong> - он
                            доступен по ссылке <a href="http://github.com/delneg/noteshrinker-django">Noteshrinker</a>.
                        </li>
                        {% endblocktrans %}
                    </ul>
                </div>
            </div>
        </div>

    </div>
    <!-- The blueimp Gallery widget -->
    <div id="blueimp-gallery" class="blueimp-gallery blueimp-gallery-controls" data-filter=":even">
        <div class="slides"></div>
        <h3 class="title"></h3>
        <a class="prev">‹</a>
        <a class="next">›</a>
        <a class="close">×</a>
        <a class="play-pause"></a>
        <ol class="indicator"></ol>
    </div>
    {% upload_js %}
{% endblock %}
{% block js %}
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"
            integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>
    <!-- The jQuery UI widget factory, can be omitted if jQuery UI is already included -->
    <script src="{% static 'noteshrinker/js/vendor/jquery.ui.widget.js' %}"></script>
    <!-- The Load Image plugin is included for the preview images and image resizing functionality -->
    <script src="{% static 'noteshrinker/js/load-image.min.js' %}"></script>
    <!-- The Templates plugin is included to render the upload/download listings -->
    <script src="{% static 'noteshrinker/js/tmpl.min.js' %}"></script>
    <!-- The Canvas to Blob plugin is included for image resizing functionality -->
    <script src="{% static 'noteshrinker/js/canvas-to-blob.min.js' %}"></script>
    <!-- The Iframe Transport is required for browsers without support for XHR file uploads -->
    <script src="{% static 'noteshrinker/js/jquery.iframe-transport.js' %}"></script>
    <!-- blueimp Gallery script -->
    <script src="{% static 'noteshrinker/js/jquery.blueimp-gallery.min.js' %}"></script>
    <!-- The basic File Upload plugin -->
    <script src="{% static 'noteshrinker/js/jquery.fileupload.js' %}"></script>
    <!-- The File Upload processing plugin -->
    <script src="{% static 'noteshrinker/js/jquery.fileupload-process.js' %}"></script>
    <!-- The File Upload image preview & resize plugin -->
    <script src="{% static 'noteshrinker/js/jquery.fileupload-image.js' %}"></script>
    <!-- The File Upload validation plugin -->
    <script src="{% static 'noteshrinker/js/jquery.fileupload-validate.js' %}"></script>
    <!-- The File Upload validation plugin -->
    <script src="{% static 'noteshrinker/js/jquery.fileupload-ui.js' %}"></script>

    <script src="{% static 'noteshrinker/js/main.js' %}"></script>
    <script src="{% static 'noteshrinker/js/csrf.js' %}"></script>
    <script >
            window.locale = {
            "fileupload": {
                "errors": {
                    "maxFileSize": '{% trans "Файл слишком большой" %}' ,
                    "minFileSize": '{% trans "Файл слишком маленький" %}' ,
                    "acceptFileTypes": '{% trans "Запрещенный тип файла" %}' ,
                    "maxNumberOfFiles": '{% trans "Максимальное кол-во файлов достигнуто" %}' ,
                    "uploadedBytes": '{% trans "Загружено больше данных, чем размер файла" %}' ,
                    "emptyResult": '{% trans "Сервер вернул пустой ответ на загрузку" %}' ,
                },
                "error": '{% trans "Ошибка" %}' ,
                "start": '{% trans "Загрузить" %}' ,
                "cancel": '{% trans "Отменить" %}' ,
                "destroy": '{% trans "Удалить" %}' ,
            }
        };
    </script>

    <script src="{% static 'noteshrinker/js/jquery.cookie.js' %}"></script>
    <script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>

    <style>
        .slider-selection {
            background: #BABABA;
        }
    </style>
    <script>
        $("#clear-all-button").click(function () {
            window._uploadedFiles=[];
            $("#download-pdf-button").addClass('disabled');
            $("#download-zip-button").addClass('disabled');
        });


        /*jslint unparam: true, regexp: true */
        /*global window, $ */
        function csrfSafeMethod(method) {
            // these HTTP methods do not require CSRF protection
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }
        function clear_alerts() {
            $(".alert").remove();
        }

        function display_alert(message, type, element) {
            element.prepend(
                    '<div class="alert alert-' + type + ' alert-dismissible fade in" role="alert"> <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>'
                    + message + '</div>'
            );
        }
        function arrayToQueryString(array_in,key){
            var out = [];
            for(var i in array_in){
                out.push(key + '=' + encodeURIComponent(array_in[i]));
            }
            return out.join('&');
        }
        function send_and_shrink() {
            var csrftoken = $.cookie('csrftoken');
            clear_alerts();

            function isEmpty(value){
              return (value == null || value.length === 0);
            }
            if (!isEmpty(window._uploadedFiles)) {
                var form_data = {
                    "basename": $("#base-name").val(),
                    "pdfname": $("#pdf-name").val(),
                    "num_colors": $("#colors-amount").val(),
                    "sample_fraction": $("#pixel-amount").val(),
                    "sat_threshold": $("#sat-threshold-amount").val(),
                    "value_threshold": $("#val-threshold-amount").val(),
                    "global_palette": $("#use-one-palette").val(),
                    "sort_numerically": $("#sort-numerically").val(),
                    "white_bg": $("#white-background").val(),
                    "files": window._uploadedFiles,
                };

                $("#fileshrink-spinner").show();

                $.ajax({
                    type: 'POST',
                    beforeSend: function (xhr, settings) {
                        if (!csrfSafeMethod(settings.type)) {
                            xhr.setRequestHeader("X-CSRFToken", csrftoken);
                        }
                    },
                    dataType: 'json',
                    data: form_data,
                    url: '/shrink',
                    success: function (data) {
                        $("#fileshrink-spinner").hide();
                        var proper_pdf_name = data.pdf.substr(data.pdf.indexOf('_') + 1);
                        var download_pdf_button = $('#download-pdf-button');
                        download_pdf_button.removeClass('disabled');
                        download_pdf_button.attr('href', '/download_pdf?filename=' + data.pdf);
                        download_pdf_button.attr('download', proper_pdf_name);
                        var download_zip_button = $("#download-zip-button");
                        download_zip_button.removeClass('disabled');
                        download_zip_button.attr('href','/download_zip?'+arrayToQueryString(data.pngs,'images'));
                        download_pdf_button.attr('download', $("#pdf-name").val()+'.zip');
                    },
                    error: function (data) {
                        $("#fileshrink-button").button('reset');
                        //TODO: show error alert
                        clear_alerts();
                        console.log(data);
                    }
                });
            } else {
                display_alert('{% trans "Нет загруженных файлов!" %}', 'danger', $("#first-col"));
            }
        }
    </script>
{% endblock js %}